 <header class="header">
 {% from 'ui/icon.twig' import icon %}
 <a href="index.html" class="logo logo--header">
    {{ icon('logo__image-text', 'vector', 134, 21) }}
</a>
        <a class="logo" href="#">Binabox</a>
        <nav class="nav">
            <ul class="nav__list list-item">
                 {% for item in header.nav %}
                <li class="nav__list-item"><a class="nav__list-link" href="{{ item.link }}">{{ item.text }}</a></li>
                {% endfor %}
               
            </ul>
        </nav>
        <div>
            <input type="checkbox">
            <a class=" button button--primary" href="{{header.primary_button.link}}">{{header.primary_button.text}}</a>
            <a class="button">{{header.default_button}}</a>
        </div>
    </header>